[project]
name = "repo-md"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = []

[project.scripts]
repo-md = "repo_md.__main__:main"
